<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% result.forEach(function(data) { %>

    <form method="post">
        <table>
            <tr>
                <td>Sub 1 : </td><td><input type="number" name="sub1" value="<%= data.sub1 %>"></td>
            </tr>
            <tr>
                <td>Sub 2 : </td><td><input type="number" name="sub2" value="<%= data.sub2 %>"></td>
            </tr>
            <tr>
                <td>Sub 3 : </td><td><input type="number" name="sub3" value="<%= data.sub3 %>"></td>
            </tr>
            <tr>
                <td>Sub 4 : </td><td><input type="number" name="sub4" value="<%= data.sub4 %>"></td>
            </tr>
            <tr>
                <td>Sub 5 : </td><td><input type="number" name="sub5" value="<%= data.sub5 %>"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <% }); %>

</body>
</html>