<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% result.forEach(function(data) { %>
    <form method="post">
        <table>

            <tr>
                <td>Enter Staff Name : </td>
                <td><input type="text" name="name" value="<%= data.name %>"></td>
            </tr>

            <tr>
                <td>Enter Staff Email : </td>
                <td><input type="email" name="email" value="<%= data.email %>"></td>
            </tr>

            <tr>
                <td>Enter Staff Password : </td>
                <td><input type="password" name="password" value="<%= data.password %>"></td>
            </tr>

            <tr>
                <td>Enter Staff Std :</td>
                <td><input type="number" name="std" value="<%= data.std %>"></td>
            </tr>

            <tr>
                <td>Enter Staff Div :</td>
                <td><input type="text" name="div" value="<%= data.divi %>"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" name="submit"></td>
            </tr>
            
        </table>
    </form>
    <% }); %>
</body>
</html>